.features-bottom-text-div {
    width: 375px;
    height: 288px;
    background-image: url("../../pages/assets/features/desktop/Bitmap_5.png");
    margin-top: 91px;
  }
  .linear-beta {
    width: 128px;
    height: 6px;
    background-image: linear-gradient(
      to bottom,
      #ffc593 0%,
      #bc7198 51.95%,
      #5a77ff 100%
    );
    margin-left: 33px;
  }
  
  .feature-bottom-beta {
    font-family: "DM Sans";
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding-left: 33px;
    padding-top: 64px;
    width: 350px;
  }
  
  .arrow1 {
    transform: translateX(5px);
  }
  
  .arrow-div-feature {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .read-me-div-feature {
    display: flex;
    font-family: "DM Sans-regular";
    color: #ffffff;
    padding-left: 35px;
    font-size: 10px;
    font-weight: 700;
    line-height: 15.62px;
    letter-spacing: 2px;
    margin-top: 24px;
  }
  .linear-beta-tablet{
    display: none;
  }

  @media screen and (min-width: 768px) {
    .linear-beta{
        display: none;
      }
    .features-bottom-text-div{
        width:768px;
        height:280px;
        background-image: url("../../pages/assets/features/desktop/Bitmap2x.png");
        background-position:cover;
        background-repeat: no-repeat;
        background-color: black;
        display: flex;
        backdrop-filter: brightness(50%);
      }
      .read-me-div-feature{
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: brightness(50%);
        width: 400px;
        margin-top: 0;
      }
      .feature-bottom-beta{
        padding-left: 33px;
        padding-top:68px;
        font-family: "DM Sans";
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        width: 480px;
        backdrop-filter: brightness(50%);
      }
      .linear-beta-tablet{
        display: inline-block;
        width: 6px;
        height: 280px;
        background-image: linear-gradient(
          to bottom,
          #ffc593 0%,
          #bc7198 51.95%,
          #5a77ff 100%
        );
      }
    
  }

  @media screen and (min-width: 1453px) {
    .features-bottom-text-div{
        width:1453px;
        background-image: url('../../pages/assets/features/desktop/Bitmap\ \(3\).png');
      }
      .read-me-div-feature{
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: brightness(50%);
        width: 1000px;
        margin-top: 0;
        padding-left: 250px;
      }
      .feature-bottom-beta{
        padding-left: 33px;
        padding-top:68px;
        font-family: "DM Sans";
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        width: 480px;
        backdrop-filter: brightness(50%);
      }
      .linear-beta-tablet{
        display: inline-block;
        width: 6px;
        height: 280px;
        background-image: linear-gradient(
          to bottom,
          #ffc593 0%,
          #bc7198 51.95%,
          #5a77ff 100%
        );
      }
  }